<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Pros-Contras</title>

    <!-- Bootstrap -->
    <link th:href="@{css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>

    <!--Font-awesome-->
    <link th:href="@{css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{css/extra.css}" rel="stylesheet"/>

    <link rel="icon" type="image/png" sizes="32x32" th:href="@{img/logofavicon.png}"/>

</head>


<div class="jumbotron" style="background-image: url('img/capa.jpg'); color: #5e5e5e;  margin-top: 50px; object-fit: cover; min-height: 450px;">
    <div class="container">
        <div class="row centering jumbotron" style="background-color: rgba(255,255,255,0.85);">
            <h1>Fazendo o seu cadastro</h1>
            <h3>Também não gostamos muito de formulários. Prometemos que vai ser rápido.</h3>
        </div>
    </div>
</div>
    <body>

        <div class="container">
            <div class="">
                <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!--<a href="" class="navbar-brand">Pros e contras</a>-->
                            <a href="/"><img src="img/logopreto.png" class="navbar-brand" style="padding: 10px"/></a>
                        </div>
                        <div class="collpase navbar-collapse" id="example">

                            <!--<button type="button" class="btn btn-primary navbar-btn navbar-right" data-toggle="modal" data-target="#modal-login">Login</button>-->

                        </div>

                    </div>
                </nav>
            </div>

            <div class="col-md-8 col-md-push-2 well">
                <!--</form>-->
                <form th:action="@{/cadastrar}" th:object="${userValidator}" id="form_cada_user" method="post">
                    <div class="form-group has-feedback">
                        <label for="name" class="control-label">Nome Completo</label>
                        <input type="text" id="name" name="name" class="form-control" th:field="*{name}"  placeholder="Informe seu nome" />

                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="help-block"></p>

                    </div>
                    <div class="container row" style="width: 80%">
                        <div class="form-group has-feedback">
                            <label for="email" class="control-label">Email</label>
                            <input type="text" id="email" class="form-control" name="email"
                                   placeholder="Informe seu email" title="Digite um email válido" th:field="*{email}" />
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="help-block"></p>
                        </div>

                        <div class="form-group has-feedback">
                            <label for="senha" class="control-label">Senha</label>
                            <input type="password" id="senha" class="form-control" name="senha" placeholder="Escolha sua senha" th:field="*{password}" />

                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="help-block"></p>

                        </div>
                        <div id="alertaErroLogin" class="alert alert-danger alert-dismissible hidden" role="alert" />


                    </div>

                    <button id="btnEnviar" type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>

        </div>


        <!--FOOTER-->
        <footer class="footer" th:include="index :: newfooter"></footer>

        <!-- Latest compiled and minified JavaScript -->
        <script src="js/jquery-3.1.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

    </body>

</html>
