<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Pros-Contras</title>

    <!-- Bootstrap -->
    <link th:href="@{css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{css/fileinput.css}" rel="stylesheet"/>

    <!--Font-awesome-->
    <link th:href="@{css/font-awesome.css}" rel="stylesheet"/>

    <link th:href="@{css/extra.css}" rel="stylesheet"/>

    <link rel="icon" type="image/png" sizes="32x32" th:href="@{img/logofavicon.png}"/>

</head>


<body>

    <div class="container">

        <div th:include="home :: homeheader"></div>


        <div class="row">

            <div class="col-md-8 col-md-push-2 well">

                <form th:action="@{/novoTopico}" th:object="${topicValidator}" id="form_cada_user" method="post" enctype="multipart/form-data">
                    <div class="form-group has-feedback">
                        <label for="name" class="control-label">Título do Tópico</label>
                        <input type="text" id="name" name="name" class="form-control" th:field="*{name}"  placeholder="Informe o título do tópico" />

                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="help-block"></p>

                    </div>
                    <div class="container row" style="width: 80%">

                        <div class="form-group">
                            <label class="control-label">Selecione uma foto para o Tópico</label>
                            <input name="photo" type="file" class="file" />
                        </div>
                        <div th:if="${erro}" class="alert alert-danger" role="alert" th:text="${erro}"/>

                        <div class="form-group has-feedback">
                            <label for="description" class="control-label">Descrição do Tópico</label>
                            <textarea type="text" id="description" class="form-control" name="description"
                                   placeholder="Comente algo a respeito do tópico" title="Por favor, preencha este campo!" th:field="*{description}">
                            </textarea>
                            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="help-block"></p>
                        </div>

                    </div>



                    <button id="btnEnviar" type="submit" class="btn btn-primary">Enviar</button>
                </form>

            </div>
        </div>


    </div>

    <!--FOOTER-->
    <footer class="footer" th:include="index :: newfooter"></footer>

    <!-- Latest compiled and minified JavaScript -->
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/fileinput.min.js"></script>
    <!--<script src="dist/js/funcoesBusca.js"></script>-->

</body>

</html>
