<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Pros-Contras</title>

    <!-- Bootstrap -->
    <link th:href="@{css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{css/fileinput.css}" rel="stylesheet"/>

</head>


<body>

    <header th:include="home :: homeheader"></header>

    <div class="container" style="width:70%; padding-top:100px">
        <div class="row">

            <dizv class="col-md-8 col-md-push-2 well">
                
                <form th:action="@{/novoTopico}" th:object="${topicValidator}" id="form_cada_user" method="post" enctype="multipart/form-data">
                    <div class="form-group has-feedback">
                        <label for="name" class="control-label">Título do Tópico</label>
                        <input type="text" id="name" name="name" class="form-control" th:field="*{name}"  placeholder="Informe o título do tópico" />

                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="help-block"></p>

                    </div>
                    <div class="container row" style="width: 80%">
                        
                        <div class="form-group">
                            <label class="control-label">Selecione uma foto para o Tópico</label>
                            <input name="photo" type="file" class="file" />
                        </div>
                        
                        <div class="form-group has-feedback">
                            <label for="description" class="control-label">Descrição do Tópico</label>
                            <textarea type="text" id="description" class="form-control" name="description"
                                   placeholder="Comente algo a respeito do tópico" title="Por favor, preencha este campo!" th:field="*{description}">
                            </textarea>
                            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="help-block"></p>
                        </div>
                        
                        <div id="alertaErroLogin" class="alert alert-danger alert-dismissible hidden" role="alert" />


                    </div>

                    <button id="btnEnviar" type="submit" class="btn btn-primary">Enviar</button>
                </form>

            </dizv>
        </div>
    </div>



<!--FOOTER-->


<!-- Latest compiled and minified JavaScript -->
<script src="js/jquery-3.1.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/fileinput.min.js"></script>
<!--<script src="dist/js/funcoesBusca.js"></script>-->

</body>

</html>
