<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Pros-Contras</title>

    <!-- Bootstrap -->
    <link th:href="@{css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{css/fileinput.css}" rel="stylesheet"/>

    <!--Font-awesome-->
    <link th:href="@{css/font-awesome.css}" rel="stylesheet"/>

    <link rel="icon" type="image/png" sizes="32x32" th:href="@{img/logofavicon.png}"/>

</head>


<body>

    <header th:include="home :: homeheader"></header>

    <div class="container" style="width:70%; padding-top:100px">


            <div class="col-md-8 col-md-push-2">

                <div class="alert alert-success" role="alert" >Tópico cadastrado com sucesso!</div>
                <a th:href="@{topic(id=${id})}"><button id="btnEnviar" type="submit" class="btn btn-primary">Ir para o Tópico</button></a>


            </div>

    </div>



<!--FOOTER-->


<!-- Latest compiled and minified JavaScript -->
<script src="js/jquery-3.1.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/fileinput.min.js"></script>
<!--<script src="dist/js/funcoesBusca.js"></script>-->

</body>

</html>
