<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Pros-Contras</title>

    <!-- Bootstrap -->
    <link th:href="@{css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{css/fileinput.css}" rel="stylesheet"/>

    <!--Font-awesome-->
    <link th:href="@{css/font-awesome.css}" rel="stylesheet"/>

</head>


<body>

<div class="modal fade" id="modal-pos">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title modal-title-center form-singin-heading">Editar Posicionameto</h3>
            </div>
            <div class="modal-body" id="corpoModalLogin">
                <form id="formulario" class="form-signin" method="post" th:action="@{/positioningsave}">
                    <div class="form-group has-feedback">
                        <label for="posicao" class="control-label">Posição</label>
                        <select class="form-control" id="posicao" name="posicao">
                            <option value="FOR">A Favor</option>
                            <option value="AGAINST">Contra</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="motivos" class="control-label">Motivações</label>
                        <textarea id="motivos" name="motivos" class="form-control" rows="5" maxlength="5000" placeholder="Se desejar, digite aqui as motivações de seu posicionamento acerca do tópico. " ></textarea>
                    </div>
                    <input name="id" id="idTopic" class="hidden"/>
                    <div class="modal-footer">
                        <a href="" class="btn btn-default" data-dismiss="modal">Cancelar</a>
                        <button id="btnEntrar" type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>

<header th:include="home :: homeheader"></header>


<div id="opinion" class="container col-md-8 col-md-offset-2"  style="min-height: 180px; padding-top: 100px;">

    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h4>Nova Opinião</h4>
        </div>

        <div class="panel-body">
            <p th:if="${session.opinion.positionings.size() eq 0}">Você ainda não escolheu novos tópicos para opinar.</p>

            <div th:if="${error ne null}" class="alert alert-danger" role="alert" th:text="${error}"/>

            <div class="media" data-th-each="positioning : ${session.opinion.positionings}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" th:src="@{'/image/' + ${positioning.topic.photoPath}}" style='width: 50px; height:50px; object-fit: cover'/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="@{${positioning.topic.name}}"></h4>

                    <dl>
                        <dt>Posição:</dt>
                        <!--<dd th:text="@{${positioning.status}}"></dd>-->
                        <dd th:if="${positioning.status == T(br.edu.ifpb.enums.Status).FOR}" >A Favor</dd>
                        <dd th:if="${positioning.status == T(br.edu.ifpb.enums.Status).AGAINST}" >Contra</dd>

                        <dt>Comentário:</dt>
                        <dd th:text="@{${positioning.comment}}"></dd>
                    </dl>
                    <dl>

                    </dl>

                    <!--<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal-pos"><span class="glyphicon glyphicon-pencil"/> Editar</button>-->
                    <button type="button" class="btn btn-primary btn-xs" id="editar" th:onclick="'editPos(\'' + ${positioning.topic.id} + '\');'" ><span class="glyphicon glyphicon-pencil"/> Editar</button>
                    <a th:href="@{/positioningremove(id=${positioning.topic.id})}" ><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove-circle"/> Remover</button></a>
                </div>
            </div>
        </div>

        <div class="panel-footer container-fluid">

            <a th:href="@{/publish}"><button  class="pull-right btn btn-primary"><span class=""/> Publicar</button></a>

        </div>


    </div>

</div>

<!--FOOTER-->


<!-- Latest compiled and minified JavaScript -->
<script src="js/jquery-3.1.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/fileinput.min.js"></script>
<script >



    function editPos(topicId) {

        $.ajax({
            url: "/positioningcontent",
            type: "GET",
            data: {id: topicId},
            success: function (response) {
                if (response.comment !== undefined)
                    $("#motivos").html(response.comment);
                if (response.posicao !== undefined)
                    $('#posicao' ).val(response.posicao);
                if (response.topicId !== undefined)
                    $('#idTopic' ).val(response.topicId);
            }
        });



        $('#modal-pos').modal('show')
    }
</script>

</body>

</html>
