<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Pros-Contras</title>

    <!-- Bootstrap -->
    <link th:href="@{css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{css/fileinput.css}" rel="stylesheet"/>

    <!--Font-awesome-->
    <link th:href="@{css/font-awesome.css}" rel="stylesheet"/>

    <link th:href="@{css/extra.css}" rel="stylesheet"/>

    <link rel="icon" type="image/png" sizes="32x32" th:href="@{img/logofavicon.png}"/>

</head>


    <body>

        <div class="container">

            <div th:include="home :: homeheader"></div>

            <div id="opinion" class="col-md-10 col-md-offset-1">

                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4>Sugestões para você</h4>
                    </div>

                    <div class="panel-body">

                        <div data-th-each="topic : ${topics}" class="col-sm-6 col-md-3 col-xs-6">
                            <div class="thumbnail container-fluid">
                                <a th:href="@{topic(id=${topic.id})}" ><img th:src="@{'/image/' + ${topic.photoPath}}" style="width:1500px; height: 150px; object-fit: cover" class='avatar img-thumbnail'/></a>
                                <div class="caption text-center">
                                    <strong><p class="limit" th:text="${topic.name}"></p></strong>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>




        <!--FOOTER-->
        <footer class="footer" th:include="index :: newfooter"></footer>


        <!-- Latest compiled and minified JavaScript -->
        <script src="js/jquery-3.1.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/fileinput.min.js"></script>


    </body>

</html>
