<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Pros-Contras</title>

    <!-- Bootstrap -->
    <link th:href="@{css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{css/fileinput.css}" rel="stylesheet"/>

    <!--Font-awesome-->
    <link th:href="@{css/font-awesome.css}" rel="stylesheet"/>

    <link th:href="@{css/extra.css}" rel="stylesheet"/>

    <link rel="icon" type="image/png" sizes="32x32" th:href="@{img/logofavicon.png}"/>

</head>

    <body>

        <div class="container">

            <div th:include="home :: homeheader"></div>
            <div id="opinion" class="container col-md-8 col-md-offset-2" >

                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4>Trends</h4>
                    </div>

                    <div class="panel-body">

                        <div th:if="${error ne null}" class="alert alert-danger" role="alert" th:text="${error}"/>

                        <form th:action="@{/trendsearch}" method='post'>


                            <div class="form-group has-feedback col-md-3">
                                <label class="control-label">Pessoas que são</label>
                                <select class="form-control " id="statusStart" name="statusStart" th:value="${statusStart}">
                                    <option value="FOR">A Favor</option>
                                    <option value="AGAINST">Contra</option>
                                </select>
                            </div>
                            <div class="form-group has-feedback col-md-12">
                                <label for="startTopic" class="control-label">com relação ao tópico</label>
                                <select class="form-control" id="startTopic" name="startTopic" th:value="${startTopic}">
                                    <option data-th-each="topic: ${topics}" th:value="${topic.id}" th:text="${topic.name}"/>
                                </select>
                            </div>
                            <div class="form-group has-feedback col-md-12">
                                <label for="targetTopic" class="control-label">como pensam sobre...?</label>
                                <select class="form-control" id="targetTopic" name="targetTopic">
                                    <option data-th-each="topic: ${topics}" th:value="${topic.id}" th:text="${topic.name}" />
                                </select>
                            </div>

                            <button type="submit" class="pull-right btn btn-primary"><span class=""/> Buscar</button>
                        </form>

                    </div>


                </div>

            </div>

        </div>


        <!--FOOTER-->
        <footer class="footer" th:include="index :: newfooter"></footer>

        <!-- Latest compiled and minified JavaScript -->
        <script src="js/jquery-3.1.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>


    </body>

</html>
